.at-modal {
  cursor: auto;
  width: auto !important;
  max-width: 700px;
  background: unset;
  margin: 50px auto;
  top: 0;
}

.at-modal__mask {
  background: rgba(0, 0, 0, .6);
}

.at-modal__header {
  position: relative;
  border-color: #333 !important;
  background: #394050;
}

.at-modal__body {
  background: #2c3341;
}
