@import '../variables';

.at-select__selection {
  background-color: rgba(0, 0, 0, .1);
  box-shadow: $box-shadow1;
  border-color: rgba(0, 0, 0, .2);
  color: $color-text;
  &:hover {
    border-color: rgba(0, 0, 0, .3);
  }
}

.at-select__dropdown {
  background-color: rgba(0, 0, 0, .2);
  color: $color-text;
  .at-select__option {
    &:hover {
      background-color: rgba(0, 0, 0, .3);
      color: inherit;
    }
  }
  .at-select__option--selected {
    background-color: rgba(0, 0, 0, .3);
    color: $color-warning;
    &:hover {
      color: $color-warning;
    }
  }
}
