.block {
  max-width: 500px;
  margin: 30px auto 0;
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
  &:first-child {
    margin-top: 0;
    border-top: 0;
    padding-top: 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .block__attr {
    margin-bottom: 15px;
    p {
      margin-bottom: 5px;
      font-weight: bold;
    }
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 5px;
      font-weight: bold;
      .status {
        position: relative;
        margin: 0;
        &:after {
          font-size: .6rem;
          vertical-align: top;
          margin-left: 4px;
        }
        &.status-on:after {
          content: 'ON';
          color: #0dad54;
        }
        &.status-off:after {
          content: 'OFF';
          color: #ff8080;
        }
      }
      .compare {
        font-size: .7rem;
        text-transform: uppercase;
        min-width: 25px;
        text-align: center;
      }
    }
    .flex {
      align-items: center;
      > .at-input {
        margin: 0 10px;
        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .at-checkbox {
      margin: 5px;
    }
    .at-radio {
      margin: 5px;
      > .at-radio__label {
        font-size: 13px;
      }
    }
  }
}

.result-block {
  .at-table__body {
    width: 100%;
    overflow: auto;
  }
}
