@import 'variables';

body {
  background: $primary-color;
  min-height: calc(100% + 1px);
}

body, h1, h2, h3, h4, h5, h6, p, a {
  color: $color-text;
}

a {
  border-radius: 25px;
  transition: .5s;
  &:hover, &:active {
    color: $secondary-color;
  }
}

hr {
  margin: 40px 0;
  border: none;
  border-bottom: 1px solid #314165;
}

button {
  min-width: 200px;
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
  width: 4px;
  height: 4px;
  background-color: #1b253a;
}
