@import 'variables';

.logs-modal {
  .at-modal__wrapper {
    cursor: pointer;
    .at-modal {
      cursor: auto;
      display: flex;
      flex-direction: column;
      width: 90% !important;
      top: 50px;
      height: calc(100vh - 100px);
      max-width: unset;
      margin: 0 auto;
      .at-modal__body {
        overflow: auto;
      }
    }
  }
}

.logs-modal__time {
  color: $color-warning;
}

.logs-modal__section {
  &:first-child {
    margin-bottom: 30px;
  }
  > p.title {
    font-weight: bold;
    padding: 10px;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, .2);
  }
}

@media screen and (max-width: 700px), screen and (max-height: 500px) {
  .logs-modal {
    .at-modal__wrapper {
      .at-modal {
        top: 0;
        width: 100% !important;
        height: 100%;
        border-radius: 0;
      }
    }
  }
}
