body {
  background: #fbfbfb;
  min-height: calc(100% + 1px);
}

hr {
  margin: 30px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

#app {
  min-height: 100%;
}

.default-layout {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-height: 100vh;
  border: 1px solid #e7e7e7;
  border-top: none;
  border-bottom: none;
  max-width: 1200px;
  margin: 0 auto;
  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
    overflow: hidden;
    > a {
      width: 280px;
      color: #333;
      transition: .2s;
      opacity: .7;
      text-align: center;
      &:hover {
        opacity: 1;
      }
      &.brand {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        .brand__version {
          font-size: 0.7rem;
          vertical-align: top;
          opacity: 0.5;
        }
        .brand__short {
          display: none;
        }
      }
    }
    .current {
      font-size: 1.5rem;
      line-height: 0;
      color: #444;
    }
    .logs {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .8rem;
      > .logs__short {
        display: none;
        font-size: 1.2rem;
      }
      span {
        display: block;
        padding: 2px 10px;
        font-weight: bold;
      }
    }
  }
}

#content {
  flex-grow: 1;
  padding: 30px 20px;
  > .media {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  height: unset;
  overflow-x: auto;
  .at-menu__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* | -----------------------------------------------------------------------------
 * | Responsive
 * | -----------------------------------------------------------------------------
 * |
 */

@media screen and (max-width: 600px) {
  .mw--200 {
    min-width: unset !important;
  }
}

@media screen and (max-width: 550px) {
  .default-layout {
    > #content {
      padding: 10px 10px 30px;
    }
    > header {
      margin: 0 10px 10px;
      > a {
        width: 70px;
        &.brand {
          > .brand__full {
            display: none;
          }
          > .brand__short {
            display: inline-block;
          }
        }
        &.logs {
          > .logs__full {
            display: none;
          }
          > .logs__short {
            display: inline-block;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 440px) {
  .home-link {
    display: none;
  }
}

@media screen and (max-width: 380px) {
  .footer__inner {
    flex-direction: column;
  }
  .mw--200 {
    padding: 8px;
  }
}
