@import "variables";

body {
  background: $main-color;
  min-height: calc(100% + 1px);
  color: rgba(255, 255, 255, .95);
}

h1, h2, h3, h4, h5, h6, p {
  color: rgba(255, 255, 255, .95);
}

a {
  color: rgba(255, 255, 255, .95);
  transition: .5s;
  &:hover {
    color: #738cd3;
    border-radius: 25px;
    background: $main-color;
  }
}

hr {
  margin: 30px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

#app {
  min-height: 100%;
}

.layout {
  position: relative;
}

.default-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-top: none;
  border-bottom: none;
  margin: 0 auto;
  > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 42px;
    overflow: hidden;
    background: rgba(0,0,0,.1);
    margin-bottom: 20px;
    > a {
      width: 280px;
      transition: .2s;
      text-align: center;
      &.brand {
        font-weight: bold;
        font-size: 1.2rem;
        text-transform: uppercase;
        .brand__version {
          font-size: 0.7rem;
          vertical-align: top;
          opacity: 0.5;
        }
        .brand__short {
          display: none;
        }
      }
    }
    .current {
      font-size: 1.5rem;
      line-height: 0;
    }
    .logs {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: .8rem;
      > .logs__short {
        display: none;
        font-size: 1.2rem;
      }
      span {
        display: block;
        padding: 2px 10px;
        font-weight: bold;
      }
    }
  }
}

#content {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  > .network {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
}

.main-menu {
  display: flex;
  flex-direction: row;
  height: unset;
  overflow-x: auto;
  .at-menu__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* | -----------------------------------------------------------------------------
 * | Responsive
 * | -----------------------------------------------------------------------------
 * |
 */

@media screen and (max-width: 600px) {
  .mw--200 {
    min-width: unset !important;
  }
}

@media screen and (max-width: 550px) {
  .default-layout {
    > #content {
      padding: 10px 10px 30px;
    }
    > header {
      margin: 0 10px 10px;
      > a {
        width: 70px;
        &.brand {
          > .brand__full {
            display: none;
          }
          > .brand__short {
            display: inline-block;
          }
        }
        &.logs {
          > .logs__full {
            display: none;
          }
          > .logs__short {
            display: inline-block;
          }
        }
      }
    }
  }
  .language__inner, .github__inner {
    display: none;
  }
  .mw--200 {
    padding: 8px;
  }
}
