// Main colors
$main-color: #2b3757;
$primary-color: #333;
$main-hover: rgba(0, 0, 0, .2);

// Additional colors
$color-success: #0dad54;
$color-info: #6c94e1;
$color-error: #ff5b5b;
$color-warning: #efb30d;

// Box shadow
$box-shadow1: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
$box-shadow2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
